html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.react-calendar {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #f4f6fa !important;
}

.react-calendar__tile--now {
  background: #faac1f !important;
}

.react-calendar__tile--active {
  background: #695cd4 !important;
}
